.colorPalette {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
}

.color {
    width: 100px;
    height: 100px;
    color: #FFFFFF;
    text-shadow: 1px 1px rgba(0,0,0,0.5), -1px 1px rgba(0,0,0,0.5), 1px -1px rgba(0,0,0,0.5), -1px -1px rgba(0,0,0,0.5);
    border-width: 1px 0px;
    border-style: solid;
    border-color: grey;
}

.color:first-of-type {
    border-left-width: 1px;
}

.color:last-of-type {
    border-right-width: 1px;
}