.colorEditor {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.colorEditor input {
    width: 90%;
    text-align: center;
}