.colorPaletteInput button {
  font-size: xx-large;
  background-color: transparent;
  border: none;
}

.paletteEditor {
  display: flex;
  justify-content: center;
}

.colorPalette {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: center;
}

.colorItem {
  width: 100px;
  height: 100px;
  border-width: 1px 0px;
  border-style: solid;
  border-color: grey;
}

.colorItem:first-of-type {
  border-left-width: 1px;
}

.colorItem:last-of-type {
  border-right-width: 1px;
}

.addColor {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}